<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <h1 class="title">Welcome to FLIMFLAM</h1>
    <p class="subtitle">the lightweight social media platform.</p>
    <div class="buttons is-centered">
        <div class="">
            <a class="button is-primary is-medium is-rounded button-width mb-2" href="/login">Log In</a> <br />
        </div>
        <div class="">
            <a class="button is-primary is-light is-medium is-rounded button-width mb-6" href="/newuser">Sign Up</a>
        </div>
        <div class="">
            <a class="button is-primary is-light is-medium is-rounded button-width" href="/feed">Explore</a>
        </div>
    </div>
</body>

</html>