<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <h1>Welcome to Microbloggr</h1>
    <div class="container">
        <div class="row">
            <a class="button is-primary is-medium is-rounded" href="/login">Log In</a> <br />
        </div>
        <div class="row">
            <a class="button is-primary is-light is-medium is-rounded" href="/newuser">Sign Up</a>
        </div>
    </div>
</body>

</html>