<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <img src="/flimflamlogo.png" class="landing-logo">
    <div class="hero">
        <div class="hero-body">
            <h1 class="title">Welcome to FLIMFLAM</h1>
            <p class="subtitle">the lightweight social media platform.</p>
        </div>
    </div>
    <div class="button-container">
        <a class="" href="/login">
            <button class="button-54">Log In</button>
        </a><br />
        <a class="" href="/newuser">
            <button class="button-54">Sign Up</button>
        </a><br />
        <a class="" href="/feed">
            <button class="button-54">Explore</button>
        </a><br />
    </div>
</body>

</html>