<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <h1>This is a test page for HEROKU Server.</h1>
    <a href="/feed">Go to Index</a>
    <a href="/new">Go to new</a>

    </p>
</body>

</html>