.post-container {
    background-color: lightgoldenrodyellow;
    border: solid black;
    border-radius: 5px;
    margin-bottom: 1em;
}

/* color scheme  */
/* {"Tyrian Purple":"4a1232","Carnation Pink":"f7accf","Alice Blue":"e8f0ff","Medium Slate Blue":"6874e8","Fern Green":"5b7553"} */

body {
    background: #e8f0ff;
    font-family: 'Outfit', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.25em;
    text-align: center;
    flex-wrap: wrap;
}

.navbar-item {
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: .75em;
}

.logo-image {
    height: 70px;
}

.landing-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    max-width: 200px;
}

.card {
    background-color: #ffc7e1;
    max-width: 600px;
    margin-bottom: 1em;
    border: solid #5b7553 2px;
    box-shadow: 3px 10px #5b7553;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

button {
    min-width: 12em;
    margin-bottom: 1em;

}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    min-width: 14em;
}

.hero-body {
    text-align: center;
}

.subtitle {
    margin-bottom: 2em;
}

/* https://getcssscan.com/css-buttons-examples */
.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

#welcome {
    text-align: right;
    margin-right: 2em;
}

textarea {
    width: 90%;
    resize: none;
    border-radius: 5px;
    font-size: 1.5em;
    padding: .5em;
}

.profile-picture {
    display: block;
    width: 50%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

/* https://copy-paste-css.com/form-input-text  */
input {
    border: 3px solid #000;
    border-radius: 5px;
    height: 50px;
    line-height: normal;
    color: #282828;
    display: block;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px;
    padding-left: 12px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}